<section class="faq">
    <div class="container">
        <div class="faq__wrapper">
            <div class="faq__title">
                <h2>FAQ</h2>
            </div>
            <div class="faq__list list">
                <div class="list__item list__item--active">
                    <div class="list__title">
                        <h3>Как добраться до музея?</h3>
                    </div>
                    <div class="list__content">
                        <p>В Национальный музей Республики Татарстан можно добраться общественным транспортом: 1)
                            «Станция метро «Кремлевская», а затем по направлению к Кремлю пройдя 5 минут пешком;</p>
                    </div>
                </div>
                <div class="list__item">
                    <div class="list__title">
                        <h3>Есть ли поблизости удобная парковка?</h3>
                    </div>
                    <div class="list__content">
                        <p>В Национальный музей Республики Татарстан можно добраться общественным транспортом: 1)
                            «Станция метро «Кремлевская», а затем по направлению к Кремлю пройдя 5 минут пешком;</p>
                    </div>
                </div>
                <div class="list__item">
                    <div class="list__title">
                        <h3>Можно ли воспользоваться аудиогидом?</h3>
                    </div>
                    <div class="list__content">
                        <p>В Национальный музей Республики Татарстан можно добраться общественным транспортом: 1)
                            «Станция метро «Кремлевская», а затем по направлению к Кремлю пройдя 5 минут пешком;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
