<section class="subscribe">
    <div class="container">
        <div class="section__intro">
            <h2>Подпишись</h2>
        </div>
        <div class="subscribe__wrapper">
            <h4 class="subscribe__heading">Отправляем анонсы новых статей, выпусков и трансляций</h4>
            <form action="#" class="form">
                <div class="form__wrapper">
                    <div class="form__block">
                        <div class="form__field">
                            <input type="email" class="form__input" name="email" id="email" placeholder="Email">
                        </div>
                        <div class="form__field">
                            <input type="text" class="form__input" name="phone" id="phone" placeholder="Телефон">
                        </div>
                    </div>
                    <div class="form__block">
                        <div class="form__field">
                            <input type="date" class="form__input date-form" name="date" id="date" placeholder="11.02.2022" value="" onchange="this.className=(this.value!=''?'has-value form__input date-form':'')">
                        </div>
                        <div class="form__field">
                            <input type="time" class="form__input date-form" name="time" id="time" placeholder="Телефон" onchange="this.className=(this.value!=''?'has-value form__input date-form':'')">
                        </div>
                    </div>
                </div>
                <button type="submit" class="form__submit">Подписаться</button>
            </form>
        </div>
    </div>
</section>
