@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500&display=swap");
html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "M PLUS 1p", sans-serif;
  color: #fff;
  background: #0B0A0D;
  font-weight: 500;
  position: relative;
}

.overlay-body {
  overflow: hidden;
}
.overlay-body:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

p {
  margin: 0;
}

h2 {
  font-size: 80px;
  line-height: 85px;
  letter-spacing: -2.4px;
}

h3 {
  font-size: 24px;
  line-height: 35px;
}

input {
  outline: none;
  font-size: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
}

.section__intro {
  margin-bottom: 30px;
}

@media screen and (max-width: 1240px) {
  .container {
    max-width: 1150px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    max-width: none;
    padding: 0px 15px;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 50px;
    line-height: 65px;
  }
  .section__intro {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 540px) {
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    padding: 0px 10px;
  }
  .section__intro {
    margin-bottom: 10px;
  }
}
.faq {
  padding: 75px 0px 50px 0px;
}
.faq__wrapper {
  display: flex;
  align-items: flex-start;
}
.faq__title {
  margin-right: 100px;
}
.faq .list {
  width: 100%;
}
.faq .list__item {
  width: 100%;
  padding: 30px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.faq .list__item:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.faq .list__content {
  overflow: hidden;
  display: block;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.faq .list__item--active {
  border-color: #fff;
}
.faq .list__item--active .list__content {
  display: block;
  height: auto;
  opacity: 1;
  visibility: visible;
  margin-top: 30px;
}
.faq .list__content--active {
  display: block;
  height: auto;
  opacity: 1;
  visibility: visible;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .faq {
    padding: 50px 0px;
  }
  .faq__wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  .faq {
    padding: 40px 0px;
  }
  .faq .list__item {
    padding: 20px 0px;
  }
}
.footer {
  background-color: #312F35;
  padding: 55px 0px 80px 0px;
}
.footer__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 60%;
}
.footer__title {
  margin-bottom: 10px;
}
.footer__text {
  font-size: 14px;
  margin-bottom: 25px;
}
.footer__link {
  text-decoration: underline;
  font-size: 14px;
}
.footer__content {
  width: 55%;
}
.footer .social {
  display: flex;
  align-items: center;
}
.footer .social__item svg path {
  transition: 0.3s;
}
.footer .social__item:not(:last-child) {
  margin-right: 30px;
}
.footer .social__item:hover svg path {
  fill: #75ff72;
}

@media screen and (max-width: 768px) {
  .footer__wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .footer {
    padding: 80px 0px 167px 0px;
  }
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer__content {
    width: 100%;
    margin-bottom: 40px;
  }
}
.subscribe {
  background-color: #fff;
  color: #0B0A0D;
  padding: 50px 0px;
}
.subscribe__heading {
  width: 35%;
}

.form__wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
}
.form__block:first-child {
  margin-right: 20px;
}
.form__input {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 15px 0px 15px 20px;
  font-size: 14px;
  line-height: 20px;
  width: 400px;
  height: 50px;
  margin-bottom: 20px;
}
.form__input:focus {
  border-color: #000;
  color: #0B0A0D;
}
.form .date-form {
  position: relative;
}
.form .date-form:not(.has-value):before {
  content: attr(placeholder);
  width: 100%;
}
.form .date-form::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}
.form .date-form::-webkit-inner-spin-button, .form .date-form::-webkit-clear-button {
  z-index: -10;
}
.form .date-form::-moz-placeholder {
  z-index: 99;
}
.form .date-form::placeholder {
  z-index: 99;
}
.form__submit {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0px 20px;
  height: 50px;
  cursor: pointer;
  background-color: #fff;
  font-size: 16px;
  transition: 0.3s;
}
.form__submit:hover {
  background-color: #75FF72;
  border-color: #75FF72;
}

@media screen and (max-width: 768px) {
  .subscribe__heading {
    width: 50%;
  }
  .form__block {
    width: 50%;
  }
  .form__input {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .subscribe__heading {
    width: 70%;
  }
  .form__wrapper {
    flex-direction: column;
  }
  .form__block {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .subscribe__heading {
    width: 80%;
  }
}
.header {
  padding: 73px 0px;
  position: sticky;
  top: 0;
  z-index: 15;
  background-color: #0B0A0D;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.header__burger {
  display: none;
  cursor: pointer;
}
.header .nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .nav__link {
  transition: 0.3s;
  padding: 20px 0px;
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.header .nav__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  color: #fff;
  background-color: #fff;
  bottom: 0;
  transform: translateX(-110%);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  z-index: 1;
}
.header .nav__link--active::before {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.header .sub-nav {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0;
  transform: translateY(0);
  width: 100%;
  height: 288px;
  transition: 0.5s;
  background-color: #0B0A0D;
  padding: 75px 0px;
  z-index: 9;
}
.header .sub-nav__block {
  display: none;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
  max-height: 140px;
}
.header .sub-nav .container {
  width: 30%;
}
.header .sub-nav--active {
  transform: translateY(60%);
  opacity: 1;
  visibility: visible;
}
.header .sub-nav__block--active {
  display: flex;
}
.header .logo {
  height: 50px;
  z-index: 9;
}

.mobile-nav {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  height: 100%;
  background: #0B0A0D;
  z-index: 15;
  transition: 0.4s;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}
.mobile-nav .menu {
  position: sticky;
  top: 0;
  padding-top: 120px;
  padding-left: 50px;
}
.mobile-nav .menu__close {
  position: absolute;
  cursor: pointer;
  top: 46px;
  right: 20px;
}
.mobile-nav .menu__item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-nav .menu__submenu {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.mobile-nav .menu__submenu--active {
  height: auto;
  opacity: 1;
  visibility: visible;
}

.mobile-nav--active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

@media screen and (max-width: 768px) {
  .header {
    padding: 45px 0px;
  }
  .header__wrapper {
    width: 100%;
  }
  .header__burger {
    display: block;
  }
  .header .nav {
    display: none;
  }
  .header .sub-nav {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .header {
    padding: 35px 0px;
  }
}
.news {
  padding: 50px 0px 100px 0px;
}
.news__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px 20px;
  flex-wrap: wrap;
}
.news .news-slider {
  display: none;
}
.news__item {
  max-width: 400px;
  transition: 0.3s;
}
.news__item:hover .news__image img {
  transform: scale(1.2);
}
.news__image {
  margin-bottom: 30px;
  overflow: hidden;
  height: 264px;
}
.news__image img {
  transition: 0.3s;
  height: 264px;
  width: 100%;
}
.news__title {
  margin-bottom: 10px;
  word-break: break-word;
}
.news__desc {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .news__list {
    display: none;
  }
  .news .news-slider {
    display: block;
  }
}
@media screen and (max-width: 540px) {
  .news__item {
    max-width: none;
    width: 80%;
  }
}
@media screen and (max-width: 375px) {
  .news {
    padding: 50px 0px 80px 0px;
  }
  .news__item {
    max-width: none;
    width: 65%;
  }
}
.slider {
  padding-bottom: 75px;
  position: relative;
}
.slider .swiper-slide {
  width: 85%;
  height: 650px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6px;
}
.slider .swiper-slide img {
  height: 650px;
  width: 100%;
}
.slider__content {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  position: relative;
}
.slider__title {
  position: absolute;
  bottom: 160px;
  left: 50px;
}
.slider__nav {
  margin: 0 auto;
  width: 232px;
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: space-between;
  margin-top: 55px;
}
.slider .swiper-button-next, .slider .swiper-button-prev {
  height: 40px;
  width: 75px;
  position: initial;
  margin-top: 0;
}
.slider .swiper-button-next:after, .slider .swiper-button-prev:after {
  content: "";
}
.slider .swiper-button-next {
  order: 1;
}
.slider .swiper-button-prev {
  transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .slider {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 540px) {
  .slider .swiper-slide {
    width: 95%;
    height: 450px;
  }
  .slider__nav {
    margin-top: 35px;
  }
  .slider__title {
    bottom: 180px;
    left: 20px;
  }
}
@media screen and (max-width: 375px) {
  .slider {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .slider__nav {
    margin-top: 20px;
  }
}