<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="logo"><img src="images/logo.svg" alt=""></div>
            <div class="header__burger">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="24" viewBox="0 0 36 24" fill="none">
                    <rect width="36" height="3" fill="white"/>
                    <rect y="10.5" width="36" height="3" fill="white"/>
                    <rect x="18" y="21" width="18" height="3" fill="white"/>
                </svg>
            </div>
            <nav class="nav">
                <a href="#" class="nav__link" id="1">Пункт 1</a>
                <a href="#" class="nav__link" id="2">Пункт 2</a>
                <a href="#" class="nav__link" id="3">Пункт 3</a>
                <a href="#" class="nav__link" id="4">Пункт 4</a>
                <a href="#" class="nav__link" id="5">Пункт 5</a>
            </nav>
            <nav class="sub-nav">
                <div class="container">
                    <div class="sub-nav__block" id="block1">
                        <a href="#" class="sub-nav__link">Подпункт меню</a>
                        <a href="#" class="sub-nav__link">Подпункт меню</a>
                        <a href="#" class="sub-nav__link">Подпункт меню</a>
                        <a href="#" class="sub-nav__link">Подпункт меню</a>
                        <a href="#" class="sub-nav__link">Подпункт меню</a>
                    </div>
                    <div class="sub-nav__block" id="block2">
                        <a href="#" class="sub-nav__link">Подпункт меню2</a>
                        <a href="#" class="sub-nav__link">Подпункт меню2</a>
                        <a href="#" class="sub-nav__link">Подпункт меню2</a>
                        <a href="#" class="sub-nav__link">Подпункт меню2</a>
                        <a href="#" class="sub-nav__link">Подпункт меню2</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<div class="mobile-nav">
    <nav class="menu">
        <div class="menu__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
                <rect x="2.125" y="0.455811" width="36" height="3" transform="rotate(45 2.125 0.455811)" fill="white"/>
                <rect y="25.4558" width="36" height="3" transform="rotate(-45 0 25.4558)" fill="white"/>
            </svg>
        </div>
        <div class="menu__item">
            <a href="#" class="menu__link" id="mobile1">Пункт 1</a>
            <div class="menu__submenu">
                <a href="#" class="sub-nav__link">Подпункт меню</a>
                <a href="#" class="sub-nav__link">Подпункт меню</a>
                <a href="#" class="sub-nav__link">Подпункт меню</a>
                <a href="#" class="sub-nav__link">Подпункт меню</a>
                <a href="#" class="sub-nav__link">Подпункт меню</a>
            </div>
        </div>
        <div class="menu__item">
            <a href="#" class="menu__link" id="mobile2">Пункт 2</a>
            <div class="menu__submenu">
                <a href="#" class="sub-nav__link">Подпункт меню</a>
                <a href="#" class="sub-nav__link">Подпункт меню</a>
                <a href="#" class="sub-nav__link">Подпункт меню</a>
                <a href="#" class="sub-nav__link">Подпункт меню</a>
                <a href="#" class="sub-nav__link">Подпункт меню</a>
            </div>
        </div>
        <div class="menu__item">
            <a href="#" class="menu__link" id="mobile3">Пункт 3</a>
        </div>
        <div class="menu__item">
            <a href="#" class="menu__link" id="mobile4">Пункт 4</a>
        </div>
        <div class="menu__item">
            <a href="#" class="menu__link" id="mobile5">Пункт 5</a>
        </div>
    </nav>
</div>
