<section class="news section">
    <div class="container">
        <div class="section__intro">
            <h2>Новости</h2>
        </div>
        <div class="news__list">
            <a href="#" class="news__item">
                <div class="news__image"><img src="images/news1.jpeg" alt=""></div>
                <h4 class="news__title">Заголовок</h4>
                <p class="news__desc">Описание Описание Описание Описание Описание Описание Описание</p>
            </a>
            <a href="#" class="news__item">
                <div class="news__image"><img src="images/news2.jpeg" alt=""></div>
                <h4 class="news__title">Заголовок</h4>
                <p class="news__desc">Описание Описание Описание Описание Описание Описание Описание</p>
            </a>
            <a href="#" class="news__item">
                <div class="news__image"><img src="images/news3.jpeg" alt=""></div>
                <h4 class="news__title">Заголовок</h4>
                <p class="news__desc">Описание Описание Описание Описание Описание Описание Описание</p>
            </a>
            <a href="#" class="news__item">
                <div class="news__image"><img src="images/news4.jpeg" alt=""></div>
                <h4 class="news__title">Заголовок</h4>
                <p class="news__desc">Описание Описание Описание Описание Описание Описание Описание</p>
            </a>
            <a href="#" class="news__item">
                <div class="news__image"><img src="images/news5.jpeg" alt=""></div>
                <h4 class="news__title">Заголовок</h4>
                <p class="news__desc">Описание Описание Описание Описание Описание Описание Описание</p>
            </a>
            <a href="#" class="news__item">
                <div class="news__image"><img src="images/news6.jpeg" alt=""></div>
                <h4 class="news__title">Заголовок</h4>
                <p class="news__desc">Описание Описание Описание Описание Описание Описание Описание</p>
            </a>
        </div>
        <div class="news-slider swiper">
            <div class="swiper-wrapper">
                <a href="#" class="news__item swiper-slide">
                    <div class="news__image"><img src="images/news1.jpeg" alt=""></div>
                    <h4 class="news__title">Заголовок</h4>
                    <p class="news__desc">Описание Описание Описание Описание Описание Описание Описание</p>
                </a>
                <a href="#" class="news__item swiper-slide">
                    <div class="news__image"><img src="images/news2.jpeg" alt=""></div>
                    <h4 class="news__title">Заголовок</h4>
                    <p class="news__desc">Описание Описание Описание Описание Описание Описание Описание</p>
                </a>
                <a href="#" class="news__item swiper-slide">
                    <div class="news__image"><img src="images/news3.jpeg" alt=""></div>
                    <h4 class="news__title">Заголовок</h4>
                    <p class="news__desc">Описание Описание Описание Описание Описание Описание Описание</p>
                </a>
                <a href="#" class="news__item swiper-slide">
                    <div class="news__image"><img src="images/news4.jpeg" alt=""></div>
                    <h4 class="news__title">Заголовок</h4>
                    <p class="news__desc">Описание Описание Описание Описание Описание Описание Описание</p>
                </a>
                <a href="#" class="news__item swiper-slide">
                    <div class="news__image"><img src="images/news5.jpeg" alt=""></div>
                    <h4 class="news__title">Заголовок</h4>
                    <p class="news__desc">Описание Описание Описание Описание Описание Описание Описание</p>
                </a>
                <a href="#" class="news__item swiper-slide">
                    <div class="news__image"><img src="images/news6.jpeg" alt=""></div>
                    <h4 class="news__title">Заголовок</h4>
                    <p class="news__desc">Описание Описание Описание Описание Описание Описание Описание</p>
                </a>
            </div>
        </div>
    </div>
</section>
