<section class="slider">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url('images/slide.jpeg')">
                <div class="slider__content">
                    <h2 class="slider__title">Слайд 1</h2>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url('images/slide.jpeg')">
                <div class="slider__content">
                    <h2 class="slider__title">Слайд 2</h2>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url('images/slide.jpeg')">
                <div class="slider__content">
                    <h2 class="slider__title">Слайд 3</h2>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url('images/slide.jpeg')">
                <div class="slider__content">
                    <h2 class="slider__title">Слайд 4</h2>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url('images/slide.jpeg')">
                <div class="slider__content">
                    <h2 class="slider__title">Слайд 5</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="slider__nav">
        <div class="swiper-button-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="103" height="46" viewBox="0 0 103 46" fill="none">
                <path d="M102.121 25.1213C103.293 23.9497 103.293 22.0503 102.121 20.8787L83.0294 1.7868C81.8579 0.615223 79.9584 0.615223 78.7868 1.7868C77.6152 2.95837 77.6152 4.85786 78.7868 6.02944L95.7574 23L78.7868 39.9706C77.6152 41.1421 77.6152 43.0416 78.7868 44.2132C79.9584 45.3848 81.8579 45.3848 83.0294 44.2132L102.121 25.1213ZM0 26H100V20H0V26Z" fill="#fff"/>
            </svg>
        </div>
        <div class="swiper-button-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="103" height="46" viewBox="0 0 103 46" fill="none">
                <path d="M102.121 25.1213C103.293 23.9497 103.293 22.0503 102.121 20.8787L83.0294 1.7868C81.8579 0.615223 79.9584 0.615223 78.7868 1.7868C77.6152 2.95837 77.6152 4.85786 78.7868 6.02944L95.7574 23L78.7868 39.9706C77.6152 41.1421 77.6152 43.0416 78.7868 44.2132C79.9584 45.3848 81.8579 45.3848 83.0294 44.2132L102.121 25.1213ZM0 26H100V20H0V26Z" fill="#fff"/>
            </svg>
        </div>
    </div>
</section>
