.slider {
    padding-bottom: 75px;
    position: relative;
    .swiper-slide {
        width: 85%;
        height: 650px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 6px;
        img {
            height: 650px;
            width: 100%;
        }
    }
    &__content {
        background-color: #00000033;
        height: 100%;
        position: relative;
    }
    &__title {
        position: absolute;
        bottom: 160px;
        left: 50px;
    }
    &__nav {
        margin: 0 auto;
        width: 232px;
        display: flex;
        align-items: center;
        height: 40px;
        justify-content: space-between;
        margin-top: 55px;
    }
    .swiper-button-next, .swiper-button-prev {
        height: 40px;
        width: 75px;
        position: initial;
        margin-top: 0;
        &:after {
            content: '';
        }
    }
    .swiper-button-next {
        order: 1;
    }
    .swiper-button-prev {
        transform: rotate(180deg);
    }
}
@media screen and (max-width: 768px){
    .slider {
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 540px){
    .slider {
        .swiper-slide {
            width: 95%;
            height: 450px;
        }
        &__nav {
            margin-top: 35px;
        }
        &__title {
            bottom: 180px;
            left: 20px;
        }
    }
}
@media screen and (max-width: 375px){
    .slider {
        padding-top: 30px;
        padding-bottom: 40px;
        &__nav {
            margin-top: 20px;
        }
    }
}
